.header{
    background-color: #343A40 !important;
}
.link{
    text-decoration: none !important;
    color: #fff !important;
}

.menu{
    text-decoration: none !important;
    color: #fff !important;
}
@media only screen and (max-width: 990px) {
    .link {
      color: black !important;
    }
  }

  /* .brand{
      width: 100%;
  } */

 