.card{
    text-align: center;
    color: black !important;
    font-weight: 400 !important;
}
.link{
    text-decoration: none !important;
}
.name{
    font-weight: 600 !important;
}
.email{
    font-weight: 600 !important;
}