.reportText {
    color: black;
    font-size: 22px;
}
.li {
    color: #495057;
    margin-bottom: 20px;
}
.lih5 {
    color: black !important;
    margin-top: 5px !important;
}
.ul {
    margin-bottom: 30px !important;
}
